.card {
  position: relative;
  aspect-ratio: 5 / 6;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  overflow: visible;
  margin-bottom: 15px;
}

.card h1, p {
  color: hsl(237, 86%, 55%);
}

.price {
  color: hsl(237, 86%, 55%);
  font-size: 22px;
}

.size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.size h3,.color h3 {
    color: hsl(125, 69%, 62%);
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.size span:hover {  /* other bug */
    background: #B90000;
}

.color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.color span:nth-child(2) {
     background: #1BBFE9;
}

.color span:nth-child(3) {
     background: #1B2FE9;
}

.color span:nth-child(4) {
     background: #080481;
}

.card button {
  border: 1px solid;
  outline: 0;
  padding: 12px;
  color: hsl(125, 69%, 62%);
  background-color: #2a33ef;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  color: hsl(360, 87%, 42%);
  background-color: #212121;
}
