.card {
  position: relative;
  aspect-ratio: 5 / 6;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  margin-bottom: 25px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
